<section class="footer">

  <a class="button button-primary" href="/">Home</a>
  <a class="button button-primary" href="/about">About</a>
  <a class="button button-primary" href="https://github.com/amandahogan/bird-booster" target = "_blank">Bird Booster 9000</a>

</section>
