<section class="header">

  <a class="two columns button button-primary" href="/">Home</a>

  <div class="six columns">
    <input class="u-full-width" type="text" placeholder="search" id="searchBar">
  </div>

</section>
