<section class="header">
  //home
  <a class="button button-primary" href="/">Home/a>
  //search bar
  <div class="six columns">
    <input class="u-full-width" type="text" placeholder="search" id="searchBar">
  </div>
  //logo
</section>
