<div class="container about">
  <h1>About</h1>

  <img src="/images/logo.png">

  <h4>Creators</h4>
  <h5>Amanda Hogan</h5>
  <h5>David Christie</h5>
  <h5>Jessica Neary</h5>
  <h5>Anna Ulyanova</h5>

</div>
