<div class="container bird-page">
  <h1 class="bird birdname">{{name}}</h1>
  <small class="altname">{{altname}}</small>
  <br>
  <img class="bird-image" src="{{img}}">
  <div class="bird desc">
    {{description}}
  </div>
  {{>comments}}
  <audio controls autoplay>
    <source src= "/morepork-song.mp3" type = "audio/mpeg">
  </audio>
</div>
