<div class="row bird-box">
  {{#each birds}}
    <div class="col-md-3">
      <a href="/bird/{{id}}">
        <img class="bird-image" alt="bird" src="{{img}}">
      </a>
    </div>
    <!-- <div class="col-md-3">
      <img class="bird-image" alt="bird" src="/images/bellbird.jpg">
    </div>
    <div class="col-md-3">
      <img class="bird-image" alt="bird" src="/images/bellbird.jpg">
    </div>
    <div class="col-md-3">
      <img class="bird-image" alt="bird" src="/images/bellbird.jpg">
    </div>
    <div class="col-md-3">
      <img class="bird-image" alt="bird" src="/images/bellbird.jpg">
    </div> -->
  <!-- {{#each birds}}
    <h1></h1>
  {{/each}} -->
  {{/each}}
</div>
