/*HOME PAGE*/
body{
  background-color: black;
}

.bird-box{
  padding: 20px;
}

.bird-grid{
  border: 1px solid white;
  margin-top: 20px;
  overflow: hidden;
  height: 185px;
  width: 100%;
}

.navbar-brand{
  padding-right: 50px;
}

.logo{
  padding-top: 8px;
  padding-right: 50px;
  padding-left: 10px;
}

/*BIRD PAGE*/
.bird-image{
  overflow: hidden;
  //height: 300px;
  width: 100%;
  max-width: 700px;
  //padding-top: 20px;
  margin-top: 20px;
  border: 1px solid white;
}

.bird-page{
  text-align: center;
  //text-align: justify;
}

.desc{
  padding: 30px;
  color: #c4c4c4;
  font-size: 1em;
  margin-top: 10px;
  /*width: 100%;
  max-width: 600px;*/
}

/*ABOUT PAGE*/
.about{
  text-align: center;
  color: #F2CC79;
  letter-spacing: 2px;
}

.about h4{
  text-decoration: underline;
}

.about h5{
  font-style: italic;
  color: white;
}

.birdname{
  color: white;
  letter-spacing: 2px;
}

.altname{
  color: #F2CC79;
}

/*COMMENTS*/
.comments{
  margin-top: 100px;
  width: 100%;
  text-align: left;
  background-color: #c4c4c4;
}

.nameInput{
  display: flex;
  justify-content: space-around;
}

.commentInput{
  width: 100%;
  margin-bottom: 80px;
}

/*HEADER*/
.nav{
  float: right;
  margin-right: 5px;
}

/*FOOTER*/
.footer{
  text-decoration: underline;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  bottom: 0;
}

.footer a{
  color: white;
  margin-right: 10px;
}
